body {
    color: #434455;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.logo-name {
    color: #2e2f42;
}

.title {
    background-color: #2E2F42;
}

.title-main {
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 2%;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
}

.h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2%;
    text-align: center;
}

.h3 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 2%;
}

.button {
    font-size: Roboto, sans-serif;
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: 4%;
}

.a {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: regular;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
    color: #4d5ae5;
}

.footer {
    background-color: #2E2F42;
}

.footer-text {
    color:#ffffff;
}